@inherits LayoutComponentBase

<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>      
        @*<div class="top-row px-4">*@
        <div class="container-fluid" style="background-color: #ee7402;text-align: center;">
            <h5 style="color: white;"></h5>
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
