@page "/"
@inject NavigationManager NavigationManager
@*@inject DialogService DialogService*@


<PageTitle>STDEAGENDA</PageTitle>


<div class="text-center">
    <img width="400" height="400" src="Apartamentos.jpg" class="img-responsive img-rounded img-thumbnail" alt="" style="border:none">
</div>

<p>
    <font color="#dc8f35" ; size="20">
        Señor usuario
    </font>
</p>
<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">1.</font> Debe presentarse a la cita con 15 minutos de anticipación con la documentación requerida.
</p>
<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">2.</font> Cuando llegue al punto de atención debe anunciarse con el orientador, indicándole que tiene una cita asignada.
</p>
<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">3.</font> Su cita no puede transferirse a otro cliente. Sólo se gestionará el trámite con la cédula de ciudadanía que fue agendada en la cita.
</p>
<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">4.</font> Su ausencia o llegada tarde implicará tomar una nueva cita o un turno en la oficina.
</p>

<br />

<div class="row justify-content-center">
    <div class="col-md-5 mb-3">
        <RadzenButton Click="@(args => CrearCliente())" data-toggle="tooltip" title="Con esta opción agregarás un cliente" class="btn btn-primary" Style="background:orange" Text="Agregar Cliente" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Click="@(args => NavigateCancelar())" data-toggle="tooltip" title="Esta opcion te permite cancelaro Consultar una cita que hallas solicitado" class="btn btn-primary" Style="background:orange" Text="Cancelar o Consultar Cita" ButtonStyle="ButtonStyle.Primary" />
        @*<RadzenButton Click="@(args => NavigateConsultar())" data-toggle="tooltip" title="Esta opcion te permite consultar tus citas vigentes" class="btn btn-primary" Style="background:orange" Text="Consultar Citas" ButtonStyle="ButtonStyle.Primary" />*@
    </div>
</div>

<Modal @ref="modalRef">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>
                Bienvenido al Sistema de Agendamiento Virtual
            </ModalTitle>
        </ModalHeader>
        <ModalBody>  
            <br />
            <p>
                <font size="3" face="arial, sans-serif" color="black">Trámites que usted Podrá agendar:</font>
            </p>

            <p>
                <font size="2" face="arial, sans-serif" color="black">*Consultas</font>
            </p>
            <p>
                <font size="2" face="arial, sans-serif" color="black">*Escritos</font>
            </p>
            <p>
                <font size="2" face="arial, sans-serif" color="black">*Negociacion</font>
            </p>
            <p>
                <font size="2" face="arial, sans-serif" color="black">*PQR verbal</font>
            </p>
            <p>
                <font size="2" face="arial, sans-serif" color="black">*Solicitud Nuevos Servicios</font>
            </p>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Solicitar">Aceptar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {

    private Modal? modalRef = null!;

     private void Solicitar()
    {
        NavigationManager.NavigateTo("/Solicitar");
    }

    private void CrearCliente()
    {
        //modalRef.Show();
        NavigationManager.NavigateTo("/CrearCliente");
    }

    private void NavigateCancelar()
    {
        NavigationManager.NavigateTo("/Cancelar");
    }

    private void NavigateConsultar()
    {
        NavigationManager.NavigateTo("/Consultar");
    }
}
